@font-face {
    font-family: "Poppins";
    src: local("Poppins-Medium"), url("./fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Semibold"), url("./fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Bold"), url("./fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 600;
}
