body {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-weight: 700;
    @include variable(font-size, $var-h1-fs, $h1-fs);
}

h2 {
    font-weight: 700;
    @include variable(font-size, $var-h2-fs, $h2-fs);
}

h3 {
    font-weight: 700;
    @include variable(font-size, $var-h3-fs, $h3-fs);
}

h4 {
    font-weight: 700;
    @include variable(font-size, $var-h4-fs, $h4-fs);
}

h5 {
    font-weight: 700;
    @include variable(font-size, $var-h5-fs, $h5-fs);
}

h6 {
    font-weight: 700;
    @include variable(font-size, $var-h6-fs, $h6-fs);
}

p {
    font-weight: 500;
    line-height: 1.5rem;
    @include variable(font-size, $var-p-fs, $p-fs);
}

.t {
    &--bold {
        font-weight: 600;
    }

    &--italic {
        font-style: italic;
    }

    &--center {
        text-align: center;
    }
}
